Amakrits RCDATA "style\\Amakrits.style"
CmedicalGate RCDATA "style\\CmedicalGate.style"
CharcoalDarkSlate RCDATA "style\\CharcoalDarkSlate.style"
TabletDark RCDATA "style\\TabletDark.style"
AquaLightSlate RCDATA "style\\AquaLightSlate.style"
AquaGraphite RCDATA "style\\AquaGraphite.style"
CobaltXEMedia RCDATA "style\\CobaltXEMedia.style"
